.hidden {
    visibility: hidden;
}

.container {
    display: flex;
}

.room-object {
    border-bottom: 1px solid black;
}

#planner {
    border: 1px solid black;
    background: pink;
    display: block;
    margin-right: 10px;
}

#add-object {
    width: 150px;
}

#add-object input {
    display: block;
}
